.hero
{
    width: 100%;
    height: 87.5vh;
    background: #262626;

    .carousel
    {
        width: 100%;
        height: 100%;

        img
        {
            width: 100vw;
            height: 100%;
            object-fit: contain;
        }
    }
}